{
  "plugins": [
    "transform-object-rest-spread"
  ],
  "presets": [
    "react",
    "env"
  ],
  "env": {
    "cjs": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    },
    "es": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
